body{
  font-family: "Consolas";
  background-color: #ededed
}

h1{
  display: flex;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
}

ul {
  display:flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li{
  float:left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #940a0a;
  color: white;
}

.current{
  background-color: #940a0a;
  color: white;
}

.FinanceLingo{
  width: 600px;
  border: 1px solid #333;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.finance-lingo{
  padding-top: 30px;
  width: 250px;
  height: 250px;
}

.Apnostics{
  width: 600px;
  border: 1px solid #333;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.Emoticam{
  width: 600px;
  border: 1px solid #333;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.ASLens{
  width: 600px;
  border: 1px solid #333;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contact{
  display: flex;
  justify-content: center;
}

.contact{
  display: flex;
  justify-content: center;
}

.insta:hover{
  opacity:60%;
}

.email:hover{
  opacity:60%;
}

.linked:hover{
  opacity:60%;
}

.git:hover{
  opacity:60%;
}

.fl_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 309px;
  height: 454.5px;
}

.apnostics_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
  height: 318.75px;
}

.emoticam_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 386px;
  height: 518px;
}

.aslens_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
  height: 318.75px;
}