body{
  font-family: "Consolas";
  background-color: #ededed
}

h1{
  display: flex;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
}

ul {
  display:flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li{
  float:left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #940a0a;
  color: white;
}

.current{
  background-color: #940a0a;
  color: white;
}

.resume{
  padding-top: 50px;
  display:flex;
  justify-content: center;
}

.contact{
  display: flex;
  justify-content: center;
}

.contact{
  display: flex;
  justify-content: center;
}

.insta:hover{
  opacity:60%;
}

.email:hover{
  opacity:60%;
}

.linked:hover{
  opacity:60%;
}

.git:hover{
  opacity:60%;
}